.footer{
  font-size: 11px;
  text-align: center;
  padding:40px 20%;
  display: block;
  border-top: 2px solid #f6f6f6 ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .github{

    margin-top: 30px;
a{
  font-size: 14px;
  &:hover{
    color: #fe5f1e;
  }
}
    
  }

  &__icon{
    display: flex;
    justify-content: center;
    
    a{
      img{
        width:100%;
        max-width: 150px;
        min-width:50px;
        margin-bottom: 30px;
      }
    }
  }
}