.root{
  
  
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all .2s ease-in-out;
  &:hover input{
    width: 350px;

  }
  

  input{
    outline: none;
    padding: 5px 40px 5px 50px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 15px;
    transition: all .2s ease-in-out;
    
     &:focus {
      border: 1px solid rgba(0,0,0,.5);
    }

  
   
  }
}

.icon{
  width: 25px;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  opacity: .2;
  

}

.closeIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 17px;
  top: 21px;
  cursor: pointer;
  opacity: .2;
  
  &:hover{
    opacity: .8;
  }
}
